body { 
    font-family:sans-serif; 
    font-weight:bold; 
    font-size:16pt;
    background: url('https://www.worldmapsonline.com/images/murals/miller_world_physical_wall_mural_lg.jpg');
    background-size: 100%;
}
.container {
    height:210px;    
}
.word-container{
    height:auto;
}
/* For the left 'Guess A Letter!' and 'Guessed Letter' boxes. */
.side-container {
    margin-top:45px;
    margin-left:130px;
    width:180px;
    text-align:center;
    opacity: .92;
}
.guessed-letters {
    color:#6f5a2d;
}
.input-area {
    width:180px;
    height:31px;
    margin:auto;
    padding:3pt;
    border: 1px #6f5a2d solid;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:15px;
    background:#ebe2ce;
}
#letter-input {
    border:1px #6f5a2d solid;
    width:20pt;
    font-size:14pt;
    text-align:center;
}
.guessed-letter {
    color:#792c15;
}
/* Word Box */
.word-box {
    width:320px;
    margin:auto;
    margin-top:25px;
    text-align:center;
    opacity: .92;
}
.word-display {
    background:#ebe2ce;
    border:1px #6f5a2d solid;
    height:31px;
    padding:3pt;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:15px;
}
.shown-letter {
    border-bottom: 3px #000 solid;
    padding: 0 2px;
    margin: 0 2px;
    color:#1c2025;
}
